{% extends 'base.html' %}
{% block body %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="col-md-9">
  <h4>{{ channel }}<small> last {{ days }} day{{ days|pluralize }}</small></h4>
  {% if channel.last_alert.active %}
  <div class="alert alert-danger" role="alert" style="width: 1000px;">
    <div style="padding-bottom: 5px;">
      <strong>Alert!</strong> {{ channel.last_alert.rule.descriptive_name }}
    </div>
    {% if not channel.last_alert.acknowledged_time %}
    <a class="btn btn-lnk alert-link" href="/monitor/ack/?aid={{ channel.last_alert.uuid }}&bid={{ user.id }}">Acknowledge Alert</a>
    {% endif %}
  </div> <!-- alert -->
  {% endif %}
  <table>
    <tr><td>Last Reading</td><td style="padding-left: 20px;">{{ channel.last_reading.value|floatformat:2 }} {{ channel.get_unit_abbrevs.1 }} on {{ channel.last_reading.monitor_time }}</td></tr>
    <tr><td>Last Alert</td><td style="padding-left: 20px;">{% if channel.last_alert %}{{ channel.last_alert.rule.descriptive_name }} on {{ channel.last_alert.alert_time }}{% else %}None{% endif %}</td></tr>
  </table>
  <div id="plot" style="width: 1000px; height:350px;"></div>
</div> <!-- col-md-9 -->
<script>
    $(function() {
	$.ajax({
	    url: "/monitor/get_readings/{{ channel.id }}/{{ days }}/"
	})
          .done(function(results) {
              var xval = [];
              var yval = [];
              for (var time in results) {
                  xval.push(time);
                  yval.push(results[time]);
              }
              var plotTrace = {
                  x: xval,
                  y: yval
              }
              var plotData = [plotTrace]
	      var layout = {
                  yaxis: {
	              {% if system == 0 %}
                      title: "{{ channel.get_units.0 }}"
                      {% else %}
	              title: "{{ channel.get_units.1 }}"
	              {% endif %}
                  }
              };
              Plotly.newPlot(plot, plotData, layout);
          });
    });

  </script>
{% endblock %}
