body {
    font-family: 'Roboto', sans-serif;
}

#navbar-main {
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left,  #1e5799 0%, #319e19 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #1e5799 0%,#319e19 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #1e5799 0%,#319e19 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
    color: white;
}

.navbar .navbar-brand, .navbar-brand {
    color: white;
}

.navbar-nav>li>a {
    color:white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #0F0;
    text-shadow: none;
}
.navbar-home {
    color:white;
}

.navbar-home:hover {
    color: blue;
    text-shadow: none;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: rgba(0,0,0,0);
}

.large-text {
    font-size: 120%;
}